.tituloDoAtributo{
    font-weight: 600;
    font-size: 22px;
}


.rowAtributos{
    margin-bottom: 40px;
}

.atributoBaseMedia{
    font-size: small;
    color: darkgrey;
}

.classeListaDePericias input {
    width: 100%;    
}